<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/index.js"></script>
    <script>
    requirejs.config({
        paths : {
                "jquery" : "../lib/jquery-3.4.1.min"
        }
    })
    </script>
</head>
<body>
    @include('head.html');
    <div id="banner" class="container">
        <ul class="banner_imgs">
            <!-- <li><a href="#"><img src="../static/banner_img1.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/banner_img2.jpg" alt=""></a></li>
            <li><a href="#"><img src="../static/banner_img3.jpg" alt=""></a></li> -->
        </ul>
        <ul class="banner_category">
            <li>
                <div class="banner_category_title">
                    <h3>电脑</h3>
                    <a href="#">荣耀</a>
                    <a href="#">HUAWEI P系列</a>
                </div>
                <div class="banner_category_panels3"></div>
            </li>
            <li>
                <div class="banner_category_title">
                    <h3>手机</h3>
                    <a href="#">荣耀</a>
                    <a href="#">HUAWEI P系列</a>
                </div>
                <div class="banner_category_panels1"></div>
            </li>
            <li>
                <div class="banner_category_title">
                    <h3>手机</h3>
                    <a href="#">荣耀</a>
                    <a href="#">HUAWEI P系列</a>
                </div>
                <div class="banner_category_panels3"></div>
            </li>
            <li>
                <div class="banner_category_title">
                    <h3>手机</h3>
                    <a href="#">荣耀</a>
                    <a href="#">HUAWEI P系列</a>
                </div>
                <div class="banner_category_panels5"></div>
            </li>
            <li>
                <div class="banner_category_title">
                    <h3>手机</h3>
                    <a href="#">荣耀</a>
                    <a href="#">HUAWEI P系列</a>
                </div>
                <div class="banner_category_panels4"></div>
            </li>
            <li>
                <div class="banner_category_title">
                    <h3>手机</h3>
                    <a href="#">荣耀</a>
                    <a href="#">HUAWEI P系列</a>
                </div>
                <div class="banner_category_panels2"></div>
            </li>
        </ul>
        <div class="banner_btn_left"></div>
        <div class="banner_btn_right"></div>
        <ul class="banner_dots">
            <!-- <li class="active"></li>
            <li></li>
            <li></li> -->
        </ul>
    </div>
    <div class="mask"></div>
    <div id="goods_phone" class="container">
        <!-- <h2 class="goods_title">手机</h2>
        <ul class="goods_list clearfix">
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li> 
        </ul>-->
    </div>
    <div id="goods_book" class="container">
        <!-- <h2 class="goods_title">笔记本电脑</h2>
        <ul class="goods_list clearfix">
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
        </ul> -->
    </div>
    <div id="goods_pad" class="container">
        <!-- <h2 class="goods_title">精品平板</h2>
        <ul class="goods_list clearfix">
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <div><img src="../static/phone1.png" alt=""></div>
                    <h3>HUAWEI Mate 30 4G</h3>
                    <p>¥4299</p>
                </a>
            </li>
        </ul> -->
    </div>
    @include('foot.html');
</body>
</html>